* {
  box-sizing: border-box;
}
body{
  margin: 0;
}

.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: red;
  color: white;
}

#two {
  top: 20px;
  left: 20px;
  background: blue;
  position: relative;
  left: 15px;
  bottom: 15px;
}